# Main (Bot) [./]

VITE_BOT_REDIRECT= # https://sub.domain.com | Including "https://" and NOT ending with "/"

# Docs (Příručka) [./docs/]
VITE_GTAG= # G-XXXXXXXXXX | Including "G-"
VITE_hostname= # https://sub.domain.com/ | Including "https://" and ENDING with "/"
